

body {
    background-color:rgb(101, 45, 255);
    margin: 0%;
}
.main {
    display: flex;
    text-align: center;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: rgb(255, 195, 85);
    border-radius: 3.3333333333rem;
    padding: 20px;
    margin: 10px;
}
.img {
    width: 400px;
    border-radius: 10%;
    margin-top: 20px;
}
.text {
    text-align: center;
    color:aliceblue
}
.rats {
    text-align: right;
    font-size: 90px;
    font-weight: bold;
}
#central {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 10%;
    background-color:rgb(101, 45, 255);
    margin: 0%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.des {
    font-size: large;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 0%;
    background-color:rgb(255, 195, 85);
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.right {
    display: flex;
    gap: 50px;
 }
 .button { 
    color:  rgba(111, 0, 255, 0.774);
    background-color: aliceblue;
    border-radius: 3.3333333333rem;
    padding: 10px;
}
.logo {
    background-color:  rgba(111, 0, 255, 0.774);
    border-radius: 50%;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
    color: aliceblue
}
.more {
  background-color:rgba(111, 0, 255, 0.774);
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
  border-radius: 3.3333333333rem;
}
